/******** common ********/

button {
    background: #233F4E;
    color: white;
    font-family: 'BMDOHYEON';
    font-size: 1.2rem;
    margin-top: 2%;
    text-align: center;

}

button:focus {
    outline: none;
}

button:hover {
    background: #08293B;
}

/***********************/


.full-screen {
    width: 100%;
    height: 100vh;
    background: url('../../../assets/images/background/nightDark.png') no-repeat;
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    color: white;
    font-family: 'Y_Spotlight';
    font-size: 1rem;
}

.full-screen h2 {
    font-family: 'BMDOHYEON';
    font-size: 50px;;
    margin-top: 4%;
    /* border: 3px solid purple; */
    text-shadow: #FC0 1px 0 10px;
}

.full-screen .story-area {
    width: 70%;
    height: 60%;
    line-height: 70%;
    margin: 40px auto 0;
    padding: 20px 0;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    border-radius: 50px;
}

.full-screen .story-area .only-hidden {
    height: 100%;
    margin-top: 40px 0;
    overflow: hidden;
}

/* .full-screen .story-area div.storytelling {
    border: 6px solid pink;
} */

.full-screen .story-area div.storytelling .storytelling-start {
    height: inherit;
    line-height: 300%;
    padding-top: 10%;
    animation: slidein-start 3s linear;
    animation-fill-mode: both;
    /* animation-duration: 15s;
    transition-timing-function: linear;
    animation-name: slidein; */
}

.full-screen .story-area div.storytelling .storytelling-restart {
    width: 100%;
    line-height: 300%;
    /* position: absolute;
    top: 58%; */
    margin: 0 auto;
    animation: slidein-restart 80s linear;
    animation-delay: 0.2s;
    /* animation-fill-mode: both; */
}

/* .full-screen .story-area .moreOrSkip {
} */

.full-screen .moreOrSkip .more {
    padding: 1.2% 3%;
    margin-right: 2%;
    border-radius: 200px;
}

.full-screen .moreOrSkip .skip {
    /* width: 6%;
    height: 6%; */
    position: absolute;
    top: 2%;
    right: 1%;
    margin-top: 1%;
    padding: 1% 1.5%;
    border-radius: 200px;
}

@keyframes slidein-start {
    0% {
        margin-top: 40%;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes slidein-restart {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: -1000%;
    }
}