.kakao_share {
  text-align: center;
  background: #f8e000;
  width: 200px;
  border-radius: 20px;
  position: absolute;
  top: 15vw;
  left: 50%;
  margin-left: -200px;

}

.MRcontainer {
  position: relative;
  background: white;
  border-radius: 20px;
  width: 140px;
  height: 140px;
  text-align: center;
  padding-top: 25px;
}

.MRcontent {
  margin: 10px;
  font-family: 'BMDOHYEON';
  font-size: 15px;
  color: #00BCD4;
}

