.loadkprofile {
  background-color: white;
  border-radius: 15px;
  font-family: 'BMDOHYEON';
  font-size: 15px;
  color: #77EDAC;
  margin: 10px;
  padding: 10px;
}

.loadkprofile:hover {
  background-color: #00BCD4;
  color: white;
}