.room_video {
  width: 39vw;
  height: 34vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  position: relative;
  right: -16%;
  margin-top: 56px;
}

.room_video_game_start {
  width: 99vw;
  height: 18vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  margin: 40px 20px;
}

.room_video_game_start::-webkit-scrollbar {
  display: none;
}
.room_video::-webkit-scrollbar {
  display: none;
}



