.start_button {
  width: 230px;
  position: absolute;
  top: 44%;
  left: 67%;
  margin-left: -115px;
  text-align: center;
  padding: 2% 2.5%;
  background: orange;
  box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 50%);
  border-radius: 106%;
  /* font-family: 'Y_Spotlight'; */
  font-size: 2.5rem;
  font-weight: bold;
  box-sizing: border-box;
  color: aliceblue;
}

.start_button {
  background: repeating-linear-gradient(
    45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);
    box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgb(0 0 0 / 30%), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgb(0 0 0 / 30%);
    border-bottom: 3px solid rgba(40, 117, 29, 0.5);
    text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
}